/* تنسيق مكتبة تبيان - لمسة حيزوم */
body {
    background-color: #fdfaf5; /* لون ورقي مريح */
    color: #3e3e3e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #5d4037; /* بني خشبي فخم */
    color: white;
    padding: 50px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#search-section {
    margin-top: 60px;
    padding: 20px;
}

input {
    padding: 15px;
    width: 300px;
    border: 2px solid #d7ccc8;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
}

button {
    padding: 15px 30px;
    background-color: #8d6e63;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #5d4037; /* بيغمق اللون عند اللمس */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #efebe9;
    padding: 15px 0;
    color: #5d4037;
    font-weight: bold;
}
.main-logo {
    width: 150px; /* حجم اللوغو */
    height: auto;
    margin-bottom: 15px;
}
